@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat",Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffff;
    margin: 0;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(217, 68, 68);
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    padding: 8px 40px 8px 12px; /* Extra right padding for the button */
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 200px; /* Adjust width as needed */
}

.search-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #333; /* Color of the icon */
}

.search-button:hover {
    color: #555; /* Darken on hover */
}

.donate-button {
    background-color: #ff6347;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #ff4500;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.article {
    background-color: #1f1f1f;
    margin: 15px 0;          /* Reduce margin */
    padding: 15px;           /* Reduce padding */
    border-radius: 6px;      /* Slightly smaller border radius */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.article img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
}

.article h2 {
    font-size: 1.2em;        /* Reduce font size */
    margin: 0;
    color: #fff;
}

.article p {
    font-size: 0.9em;        /* Reduce font size */
    margin: 8px 0; 
    color: #fff;          /* Reduce margin */
}

.article .source,
.article .publishedAt {
    font-size: 0.85em;       /* Slightly smaller font size */
    color: #fff;
}

.article a {
    color: #0066cc;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}
